Cheetah==2.4.4
Cython==0.19.1
Django==1.4
Markdown==2.3.1
South==0.7.6
crypto==1.1.0
distribute==0.6.38
django-annoying==0.7.7
django-social-auth==0.7.23
git-remote-helpers==0.1.0
httplib2==0.8
ipython==0.13.2
lxml==3.2.1
mmh3==2.2
oauth2==1.5.211
psycopg2==2.5.1
pyasn1==0.1.7
pycurl==7.19.0
python-openid==2.2.5
rsa==3.1.1
scrypt==0.6.1
selenium==2.35.0
stevedore==0.8
tornado==3.1.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
